.RedBox{
  margin: 20px;
  padding: 20px;
  background: red;
}

.BlueBox{
  margin: 20px;
  padding: 20px;
  background: blue;
  display: flex;
  justify-content: space-around;
}

.BlueBox > li{
  margin: 0px;
  padding: 20px;
  background: green;
}
