.RedBox{
  margin: 20px;
  padding: 20px;
  background: red;
}

.BlueBox{
  margin: 20px;
  padding: 20px;
  background: blue;
  display: flex;
  justify-content: space-around;
}

.BlueBox > li{
  margin: 0px;
  padding: 20px;
  background: green;
}

.TopBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px;
}

.LoginBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
}
.LoginBox > li{
  margin: 0px 10px;
}

.Content{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px;
}

.Locations{
  list-style-type: none;
  padding: 20px;
}
.Locations > li{
  margin: 10px 0px;
}

.Hots{
  list-style-type: none;
  padding: 20px;
}
.Hots > li{
  margin: 10px 0px;
}
